.swiper {
  position: static !important;
}

.swiper-pagination {
  padding: 15px;
  bottom: 0px !important;
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static !important;
}

.swiper-pagination-bullet {
  background-color: yellow !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
