.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.btn {
    .sign {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: top 0.5s;
    }
    .contents{
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: top 0.5s;
    }
}
.sign {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 30%;
    transform: translateY(-50%);
}

.contents {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    color: black;
    font-weight: 800;
}

.btn:hover {
    border: 1px solid #fff;
    width: 100px;
    height: 35px;
    background: linear-gradient(to top, #7e6a15, #817833, #918e76);
    .sign{
        top:-100%;
    }
  }
  
  .btn:hover {
    .contents{
        font-size: 14px;
        top:50%;
        -webkit-text-stroke: #fff;
        -webkit-text-stroke-width: 0.3px;
    }
  }
  